  .login-page {
    background-color: #d9eeda;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: auto 25% auto;
    grid-template-rows: auto 60% auto;
  }

  .login-box {
    display: flex;
    background-color: white;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    height: 90%;
    width: 100%;
    border: solid rgba(0,0,0,0.19) .5px;
    grid-column: 2/3;
    grid-row: 2/3;
    overflow: hidden;
    box-shadow: 0 10px 20px rgba(0,0,0,0.33), 0 6px 6px rgba(0,0,0,0.3);
  }


  .login-content-box {
    height: 80%;
    width: 80%;
  }

  .inner-login-content-box {
    height: 100%;
    width: 100%;
  }