<div class="select-tenant-box">
    <div class="login-header">
        <h2>Welcome!</h2>
        <p>select which tenant you would like to manage or create a new one</p>
    </div>
    <cdk-virtual-scroll-viewport [itemSize]="10" class="scroller">
        <div *cdkVirtualFor="let tenant of tenants;
        let even = even;"
        [class.example-alternate]="even">
            <div class="example-item-detail">
                {{tenant.name}}
            </div>
        </div>
    </cdk-virtual-scroll-viewport>
    <div class="create-button-block">
        <button mat-fab class="create-button" aria-label="Example icon button with a home icon">
        <mat-icon>add</mat-icon>
        </button>
    </div>
</div>