<div class="create-tenant-content-box">
    <div class="create-tenant-header-box">
        <h2>New Tenant</h2>
        <p>please enter in the new tenant's information</p>
    </div>
    <div class="create-tenant-form-box">
        <form (ngSubmit)="createTenant()" [formGroup]="createForm" id="create-form" class="tenant-form">
            <mat-form-field color="accent" class="name">
            <mat-label>Name</mat-label>
            <input matInput formControlName="name" >
            </mat-form-field>
        </form>
    </div>
    <div class="back-button-box">
        <button mat-button color="accent" (click)="changeToSelect()" >Back</button>
    </div>
    <div class="create-button-box">
        <button mat-raised-button color="accent" form="create-form" type="submit" class="create-button">Create</button>
    </div>
</div>
